# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2019 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

-e git+https://github.com/inveniosoftware/invenio-celery.git#egg=invenio-celery
-e git+https://github.com/inveniosoftware/invenio-jsonschemas.git#egg=invenio-jsonschemas
-e git+https://github.com/inveniosoftware/invenio-pidstore.git#egg=invenio-pidstore
-e git+https://github.com/inveniosoftware/invenio-records-rest.git#egg=invenio-records-rest
-e git+https://github.com/inveniosoftware/invenio-records.git#egg=invenio-records
-e git+https://github.com/inveniosoftware/jsonresolver.git#egg=jsonresolver
-e git+https://github.com/mloesch/sickle.git#egg=sickle
